@page 
@model VideoGameManager.Pages.Games.GameDetailModel
@{
}

<p>Id: @Model.Game.Id</p>
<p>Name: @Model.Game.Title</p>
<p>Score: @Model.Game.Score</p>
<p>Genre: @Model.Game.Genre</p>
<p>Description: @Model.Game.Description</p>